body{
    overflow: auto; 
    font-family:Ubuntu;
}

.coluna_inicial{
    position: absolute; top: 15px; left: 350px; /*posição do formulario*/
}
.coluna_inicial input:hover{
    border-radius: 30px ; /*borta arredondada*/
    background-color: rgb(242, 243, 243);
    width: 200px;  /*largura*/
}
.botoes_coluna input{
    display:block;/*forma uma coluna */ 
    border-radius: 30px ; /*borta arredondada*/
    width: 200px;  /*largura */
    height: 60px; /*altura */
    background: white;/*cor do botão*/
    font-weight: bold;/*negrito*/
    font-size: 18px;
    border: none; 
} 
.tweetar input{
    display:block;/*forma uma coluna */ 
    border-radius: 30px ; /*borta arredondada*/
    width: 200px;  /*largura */
    height: 50px; /*altura */
    background: rgb(29, 161, 242);/*cor do botão*/
    font-weight: bold;/*negrito*/
    font-size: 15px;
    border-left: none; /*cor da borda*/
    border-right: none;
    border-bottom: none; 
    border-top: none; 
}
.passarinho_twitter:hover{
    background-color: rgb(242, 243, 243);
    border-radius: 30px; /*borta arredondada*/
    /* width: 50px;  
    height: 50px; */
}
.passarinho_twitter{ 
    width: 23px;  
    height: 28px; 
}
h4{
    position: absolute; left: 30px; top:0px;/*posição do formulario*/    

}
.scroll{
    font-weight: bold;/*negrito*/
    font-size: 18px;
    position: absolute; left: 590px; top: 0px;/*posição do scroll*/
    width: 600px;  
    height: 1000px; /*altura */ 
    border-left: 1px solid rgb(216, 226, 226); /*cor da borda*/
    border-right: 1px solid rgb(216, 226, 226);
    /* border-bottom: 1px solid rgb(216, 226, 226);  */
    border-top: 1px solid rgb(216, 226, 226); 

}
.postar_tweet{
    width: 600px;  
    height: 200px;/*altura*/
    border-bottom: 9px solid rgb(216, 226, 226); 
}
.postar_tweet input{
    border: none;
    font-size: 18px;
    position: absolute; left: 85px; top: 75px;/*posição do input*/
    width: 500px;  /*largura */
    height: 30px; /*altura */
    float:left;
}
.enviar input{
    position: absolute; left: 485px; top:140px;/*posição do botão*/ 
    display:block;/*forma uma coluna */ 
    border-radius: 30px; /*borta arredondada*/ 
    background: rgb(29, 161, 242);/*cor do botão*/
    color: white;
    width: 100px;  /*largura */
    height: 40px; /*altura */
    font-weight: bold;/*negrito*/
    font-size: 15px;
    border-left: none; /*cor da borda*/
    border-right: none;
    border-bottom: none; 
    border-top: none; 
}
.buscar input{
    position: absolute; left: 1220px; top:10px;/*posição do busca*/ 
    border-radius: 30px; /*borta arredondada*/ 
    font-size: 17px;
    background-color: rgb(242, 243, 243); 
    border: none; 
    width: 340px;/*largura*/ 
    height: 40px;/*altura*/
    text-align: center;

}
.dentro_conteiner{
    position: absolute; left: 1220px; top:70px;/*posição do formulario*/ 
    border-radius: 30px; /*borta arredondada*/
    font-size: 17px;
    font-weight: bold;/*negrito*/
    background-color: rgb(242, 243, 243);
    width: 340px;  /*largura */
    height: 720px; /*altura */
    border: none;
}


