body{
    background:linear-gradient( to right, rgb(113, 201, 248) 25%, rgb(113, 201, 248) 25%, rgb(113, 201, 248) 50%, White 10%,White 100%, White 80%, White 80%);

}
.formularios {
    display: block;
    position: absolute; top: 15px; left: 1250px; /*posição do formulario*/
}
.formularios > form {
    display: inline-block;    
    background: rgb(245, 248, 250);
    width: 200px; /*largura*/
    border-bottom-style:  solid;
    padding-right: 15px;
    top: 10px; 
    color:slategrey;
    
}
.formularios input{
    border-top-width:0;
    border-left-width:0;/*tirar borda lado esquerdo*/
    background: rgb(245, 248, 250);
    width: 197px;   
    border: 0 none; 
    font-size: 18px;
}
.label_1{
    height: 30px;
    float:left;
    white-space: nowrap;/*para o texto não vazar para fora do label*/
}
.label_2{
    height: 30px;
    float:left;
}
.estilo_botao_entrar{
    position: absolute; top: 15px; left: 400px; /*posição do botao */
    color: rgb(29, 161, 242); 
    background: white;
    border-radius: 30px; /*borta arredondada*/
    width: 80px;  /*largura*/
    height: 40px; /*altura*/
    left: 1810px; /*positão do botão*/
    top: 25px;
    border-left: 1px solid rgb(29, 161, 242); /*cor da borda*/
    border-right: 1px solid rgb(29, 161, 242);
    border-bottom: 1px solid rgb(29, 161, 242);
    border-top: 1px solid rgb(29, 161, 242);
}
.estilo_esqueceu_senha{
    position: absolute; top: 80px; left: 1580px; 
    text-decoration:none; /*sublinhado da linha*/
    color: rgb(29, 161, 242); 
   
}
h1{
    font-family: Ubuntu;
    font-weight: bold;/*negrito*/
    position: absolute; top: 140px; left: 1185px; /*posição do texto*/
    white-space: pre;
}
h3{
    font-family:  Ubuntu;
    font-size: medium;
    font-weight: bold;/*negrito*/
    position: absolute; top: 330px; left: 1255px; /*posição do texto*/

}
.formulario_cadastre-se a{
    font-family:  Ubuntu;
    font-weight: bold;
    border-radius: 30px; 
    width: 380px; /*largura*/
    height: 35px; /*altura*/
}
.cadastre-se{
    position: absolute; top: 380px; left: 1250px;
    background: rgb(29, 161, 242);
    color: white;
    text-align: center;
}
.entrar{
    position: absolute; top: 430px; left: 1250px;
    color: rgb(29, 161, 242); 
    background: white;
    border-left: 1px solid rgb(29, 161, 242); /*cor da borda*/
    border-right: 1px solid rgb(29, 161, 242);
    border-bottom: 1px solid rgb(29, 161, 242);
    border-top: 1px solid rgb(29, 161, 242);
    text-align: center;
}